

/* 
                                            Table of contents
                                
                            1. Importing font
                            2. General styles
                            3. Variables
                            4. Body and background styling
                            5. Calculator styling
                            6. Results section styling
                            7. Functionalities section styling
                            8. Error message styling
                            9. Media queries

*/

/* 1. IMPORTING FONT */
@font-face {
    src: url('../font/Poppins-Regular.ttf') format('truetype');
    font-family: 'Poppins';
    font-weight: 400;
    font-style: normal;
}

/* 2. GENERAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* page selection */
::selection {
    background-color: var(--color-red);
    color: var(--color-text);
}
/* page scrollbar */
::-webkit-scrollbar {
    width: 0.625rem; /* 10px */
    background-color: var(--color-black-900);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-black-300);
    border-radius: 3.125rem; /* 50px */
}

/* 3. VARIABLES */
:root {
    /* colors */
    --color-black-900: rgb(40, 40, 40);
    --color-black-600: rgb(50, 50, 50);
    --color-black-300: rgb(65, 65, 65);
    --color-bg-scrollbar: rgb(100, 100, 100);
    --color-dark-red: rgb(170, 0, 0);
    --color-red: rgb(255, 0, 0);
    --color-text: rgb(255, 255, 255);
    /* font sizes */
    --font-big: 2.25rem; /* 36px */
    --font-medium: 1.875rem; /* 30px */
    --font-small: 1.5rem; /* 24px */
    --font-extra-small: 1.125rem; /* 18px */
}

/* 4. BODY AND BACKGROUND STYLING */
body {
    min-height: 100vh;
    background-color: var(--color-black-900);
    background-image: url('../images/2.jpeg');
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(0.375rem); /* 6px */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}

/* 5. CALCULATOR STYLING */
.calculator {
    margin-block: 6rem;
    color: var(--color-text);
    width: 21.875rem; /* 350px */
    background-color: var(--color-black-900);
    background-color: transparent;
    border: 1px solid var(--color-dark-red);
    border-radius: 1rem; /* 16px */
    overflow: hidden;
}

/* 6. RESULTS SECTION STYLING */
.results {
    padding: 1.5rem;
    width: 100%;
    background-color: rgb(40, 40, 40, 0.85);
}

.sub-result {
    font-size: var(--font-small);
    display: flex;
    justify-content: flex-end;
}

.sub-result .first-operand {
    flex: 1;
    text-align: right;
}

.main-result {
    font-size: var(--font-big);
    text-align: right;
    margin-top: .3rem;
}

/* ensures that content could be visible
even though some big numbers are on screen */
.sub-result .first-operand,
.main-result {
    width: inherit;
    overflow-x: auto;
}

.sub-result .first-operand::-webkit-scrollbar,
.main-result::-webkit-scrollbar {
    height: 0.375rem; /* 6px */
    background-color: transparent;
}

.sub-result .first-operand::-webkit-scrollbar-thumb,
.main-result::-webkit-scrollbar-thumb {
    background-color: var(--color-bg-scrollbar);
    border-radius: 3.125rem; /* 50px */
}

/* 7. FUNCTIONALITIES SECTION STYLING */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.063rem; /* 1px */
    background-color: var(--color-dark-red);
    border-top: 0.063rem solid var(--color-dark-red);
}

.grid__item {
    background-color: var(--color-black-600);
    color: var(--color-text);
    font-family: 'Poppins';
    border: 0;
    font-size: var(--font-medium);
    padding: 1.2rem;
    user-select: none;
    transition: 
        background-color 150ms ease,
        color 150ms ease;
}

.grid__item:hover,
.grid__item[data-active="true"] {
    background-color: var(--color-black-300);
}

.grid__item[data-disabled="true"] {
    cursor: not-allowed;
    background-color: var(--color-black-900);
    color: var(--color-bg-scrollbar);
}

.span-2 {
    grid-column: span 2;
}

/* 8. ERROR MESSAGE STYLING */
.error-message {
    position: fixed;
    top: 0;
    background-color: rgb(40, 40, 40, 0.85);
    color: var(--color-text);
    padding: 1.5rem;
    font-size: var(--font-extra-small);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: 1px solid var(--color-dark-red);
    border-top: 0;
    display: flex;
    gap: .4rem;
    align-items: center;
    margin-inline: 1rem;
    opacity: 0;
    transform: translateY(-12.5rem); /* 200px */
    transition: 
        opacity 400ms ease,
        transform 400ms ease;
}

.error-message[data-active="true"] {
    opacity: 1;
    transform: translateY(0);
}

.error-message > * {
    text-align: center;
}

/* 9. MEDIA QUERIES */
@media (max-width: 500px) {
    .calculator {
        width: 17.5rem; /* 280px */
    }
    .results {
        padding: 1.3rem;
    }
    .sub-result {
        font-size: calc(var(--font-extra-small));
    }
    .main-result {
        font-size: calc(var(--font-medium));
    }
    .grid__item {
        font-size: calc(var(--font-small));
        padding: .9rem;
    }
    .error-message {
        font-size: 1rem;
        flex-direction: column;
        padding: 1rem;
    }
}